@{
    ViewData["Title"] = Messages.DeliveredItemsReport;
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Messages.DeliveredItemsReport
                <span class="d-block text-muted pt-2 font-size-sm">@string.Format(Messages.IndexSubTitle, Messages.DeliveredItemsReport)</span>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="DeliveredItemsReport" method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@Messages.From</label>
                        <input type="date" name="DateFrom" class="form-control form-control-solid" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@Messages.To</label>
                        <input type="date" name="DateTo" class="form-control form-control-solid" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary font-weight-bold mr-2">@Messages.Submit</button>
            </div>
        </form>

    </div>
</div>
<!--end::Card-->
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


