@model int

@{
    ViewData["Title"] = Messages.ManagerRequests;
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Messages.ManagerRequests
                <span class="d-block text-muted pt-2 font-size-sm">@string.Format(Messages.IndexSubTitle, Messages.ManagerRequests)</span>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-4">
                    <div class="row align-items-center">
                        <div class="col-md-12 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="@Messages.Search" id="kt_datatable_search_query" />
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
        <!--end: Datatable-->
    </div>
</div>

<!--end::Card-->
@section Scripts{
    <script>
        "use strict";
        // Class definition
        var KTDatatableAutoColumnHideDemo = function () {
            // Private functions
            // basic demo
            var demo = function () {
                var datatable = $('#kt_datatable').KTDatatable({
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '/ManagerRequest/GetAll'
                            },
                        },
                        pageSize: 10,
                        saveState: false,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                    },
                    layout: {
                        scroll: true,
                    },
                    rows: {
                        autoHide: false
                    },
                    // column sorting
                    sortable: true,
                    pagination: true,
                    search: {
                        input: $('#kt_datatable_search_query'),
                        key: 'generalSearch'
                    },
                    // columns definition
                    columns: [
                        {
                            field: 'item',
                            title: '@Messages.Item',
                            sortable: false,
                            autoHide: false,
                            width: 100
                        },
                        {
                            field: 'customer.name',
                            title: '@Messages.CustomerFullName',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'customer.phoneNumber',
                            title: '@Messages.CustomerPhoneNumber',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'itemBarcode',
                            title: '@Messages.Barcode',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'company',
                            title: '@Messages.Company',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'color',
                            title: '@Messages.Color',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'description',
                            title: '@Messages.Description',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'specifiedCost',
                            title: '@Messages.SpecifiedCost',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'notifyCustomerOfTheCost',
                            title: '@Messages.NotifyCustomerOfTheCost',
                            sortable: false,
                            width: 100,
                            template: function (data) {
                                if (data.notifyCustomerOfTheCost) {
                                    return "@Messages.Yes";
                                } else {
                                    return "@Messages.No";
                                }
                            }
                        },
                        {
                            field: 'costNotifiedToTheCustomer',
                            title: '@Messages.CostNotifiedToTheCustomer',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'costFrom',
                            title: '@Messages.From',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'costTo',
                            title: '@Messages.To',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'urgent',
                            title: '@Messages.Urgent',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'warrantyDaysNumber',
                            title: '@Messages.WarrantyDaysNumber',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'returnReason',
                            title: '@Messages.ReturnReason',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'maintenanceRequestStatusMessage',
                            title: '@Messages.Status',
                            sortable: false,
                            width: 200
                        },
                        {
                            field: 'Actions',
                            title: '@Messages.Actions',
                            sortable: false,
                            width: 160,
                            overflow: 'visible',
                            autoHide: false,
                            template: function (data) {
                                var result = '';
                                result = result + '<a href="/ManagerRequest/UpdateStatus?ReceiptItemId=' + data.id + '&Status=2" tname="#kt_datatable" class="Confirm btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Approve">' +
                                    '    <span class="svg-icon svg-icon-md">' +
                                    '            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Code/Done-circle.svg-->' +
                                    '            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                    '                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                    '                    <rect x="0" y="0" width="24" height="24" />' +
                                    '                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                                    '                    <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero" />' +
                                    '                </g>' +
                                    '            </svg><!--end::Svg Icon-->' +
                                    '    </span>' +
                                    '</a>';
                                result = result + '<a href="/ManagerRequest/UpdateStatus?ReceiptItemId=' + data.id + '&Status=3" tname="#kt_datatable" class="Confirm btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Reject">' +
                                    '    <span class="svg-icon svg-icon-md">' +
                                    '                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Code/Error-circle.svg-->' +
                                    '                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                    '                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                    '                        <rect x="0" y="0" width="24" height="24" />' +
                                    '                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                                    '                        <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z" fill="#000000" />' +
                                    '                    </g>' +
                                    '                </svg><!--end::Svg Icon-->' +
                                    '    </span>' +
                                    '</a>';

                                return result;
                            },
                        }],
                });
            };
            return {
                // public functions
                init: function () {
                    demo();
                },
            };
        }();
        jQuery(document).ready(function () {
            KTDatatableAutoColumnHideDemo.init();

            $(document).on("click", ".Confirm, .PopUp", function () {
                $(".dropdown-menu").hide();
            });
        });
    </script>
        }


