@{
    ViewData["Title"] = Messages.ReturnHandReceipts;
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Messages.ReturnHandReceipts
                <span class="d-block text-muted pt-2 font-size-sm">@string.Format(Messages.IndexSubTitle, Messages.ReturnHandReceipts)</span>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-4">
                    <div class="row align-items-center">
                        <div class="col-md-12 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="@Messages.Search" id="kt_datatable_search_query" />
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="datatable table-striped datatable-head-custom" id="kt_datatable"></div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
@section Scripts{
    <script>
        "use strict";
        // Class definition
        var KTDatatableAutoColumnHideDemo = function () {
            // Private functions
            // basic demo
            var demo = function () {
                var datatable = $('#kt_datatable').KTDatatable({
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '/ReturnHandReceipt/GetAll',
                                params: {
                                    Barcode: '@ViewBag.Barcode'
                                }
                            },
                        },
                        pageSize: 10,
                        saveState: false,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                    },
                    layout: {
                        scroll: false
                    },
                    // column sorting
                    sortable: true,
                    pagination: true,
                    search: {
                        input: $('#kt_datatable_search_query'),
                        key: 'generalSearch'
                    },
                    // columns definition
                    columns: [
                        {
                            field: 'id',
                            title: '@Messages.Number',
                            sortable: false,
                            autoHide: false,
                            width: 150
                        },
                        {
                            field: 'handReceipt.customer.name',
                            title: '@Messages.CustomerFullName',
                            sortable: false,
                            autoHide: false,
                            width: 150
                        },
                        {
                            field: 'handReceipt.customer.phoneNumber',
                            title: '@Messages.CustomerPhoneNumber',
                            sortable: false,
                            width: 150
                        },
                        {
                            field: 'handReceipt.id',
                            title: '@Messages.HandReceiptNumber',
                            sortable: false,
                            width: 150
                        },
                        {
                            field: 'date',
                            title: '@Messages.Date',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'isAllDelivered',
                            title: '@Messages.Delivered',
                            sortable: false,
                            width: 100,
                            template: function (data) {
                                if (data.isAllDelivered) {
                                    return "@Messages.Yes";
                                } else {
                                    return "@Messages.No";
                                }
                            }
                        },
                        {
                            field: 'itemBarcodes',
                            title: '@Messages.ItemBarcodes',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'Actions',
                            title: '@Messages.Actions',
                            sortable: false,
                            width: 120,
                            overflow: 'visible',
                            autoHide: false,
                            template: function (data) {
                                var result = '';

                                result = result + '<a href="/ReturnHandReceipt/ExportToPdf/' + data.id + '" class="btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Print">' +
                                    '    <span class="svg-icon svg-icon-md">' +
                                    '        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                    '            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                    '                <rect x="0" y="0" width="24" height="24" />' +
                                    '                <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000" />' +
                                    '                <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1" />' +
                                    '            </g>' +
                                    '        </svg>' +
                                    '    </span>' +
                                    '</a>';

                                result = result + '<a href="/ReturnHandReceiptItem/Index?ReturnHandReceiptId=' + data.id + '" class="btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Items">' +
                                    '    <span class="svg-icon svg-icon-md">' +
                                    '        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                    '            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                    '                <polygon points="0 0 24 0 24 24 0 24"/>' +
                                    '                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>' +
                                    '                <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>' +
                                    '                <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>' +
                                    '            </g>' +
                                    '        </svg>' +
                                    '    </span>' +
                                    '</a>';

                                if ('@ViewBag.UserType' == '@UserType.Administrator.ToString()') {
                                    result = result + GetDeleteAction('/ReturnHandReceipt/Delete/' + data.id);
                                }

                                return result;
                            },
                        }],
                });

                $('#SelectCustomerFilter').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'CustomerId');
                });
            };
            return {
                // public functions
                init: function () {
                    demo();
                },
            };
        }();
        jQuery(document).ready(function () {
            KTDatatableAutoColumnHideDemo.init();
        });
    </script>
}


