@model int

@{
    ViewData["Title"] = Messages.MaintenanceItems;
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Messages.MaintenanceItems
                <span class="d-block text-muted pt-2 font-size-sm">@string.Format(Messages.IndexSubTitle, Messages.MaintenanceItems)</span>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-4">
                    <div class="row align-items-center">
                        <div class="col-md-12 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="@Messages.Search" id="kt_datatable_search_query" />
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="datatable table-striped datatable-head-custom" id="kt_datatable"></div>
        <!--end: Datatable-->
    </div>
</div>

<!--end::Card-->
@section Scripts{
    <script>
        "use strict";
        // Class definition
        var KTDatatableAutoColumnHideDemo = function() {
            // Private functions
            // basic demo
            var demo = function() {
                var datatable = $('#kt_datatable').KTDatatable({
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '/Maintenance/GetAll'
                            },
                        },
                        pageSize: 10,
                        saveState: false,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                    },
                    layout: {
                        scroll: true,
                    },
                    rows: {
                        autoHide: false
                    },
                    // column sorting
                    sortable: true,
                    pagination: true,
                    search: {
                        input: $('#kt_datatable_search_query'),
                        key: 'generalSearch'
                    },
                    // columns definition
                    columns: [
                        {
                            field: 'item',
                            title: '@Messages.Item',
                            sortable: false,
                            autoHide: false,
                            width: 100
                        },
                        {
                            field: 'customer.name',
                            title: '@Messages.CustomerFullName',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'customer.phoneNumber',
                            title: '@Messages.CustomerPhoneNumber',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'itemBarcode',
                            title: '@Messages.Barcode',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'company',
                            title: '@Messages.Company',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'color',
                            title: '@Messages.Color',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'description',
                            title: '@Messages.Description',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'specifiedCost',
                            title: '@Messages.SpecifiedCost',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'notifyCustomerOfTheCost',
                            title: '@Messages.NotifyCustomerOfTheCost',
                            sortable: false,
                            width: 100,
                            template: function(data) {
                                if (data.notifyCustomerOfTheCost) {
                                    return "@Messages.Yes";
                                } else {
                                    return "@Messages.No";
                                }
                            }
                        },
                        {
                            field: 'costNotifiedToTheCustomer',
                            title: '@Messages.CostNotifiedToTheCustomer',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'costFrom',
                            title: '@Messages.From',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'costTo',
                            title: '@Messages.To',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'urgent',
                            title: '@Messages.Urgent',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'warrantyDaysNumber',
                            title: '@Messages.WarrantyDaysNumber',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'returnReason',
                            title: '@Messages.ReturnReason',
                            sortable: false,
                            width: 100
                        },
                        {
                            field: 'receiptItemType',
                            title: '@Messages.NewOrReturned',
                            sortable: false,
                            width: 100,
                            template: function(data) {
                                if (data.receiptItemType == 1) {
                                    return "@Messages.NewReceiptItem";
                                } else if (data.receiptItemType == 2) {
                                    return "@Messages.Returned";
                                }
                            }
                        },
                        {
                            field: 'maintenanceRequestStatusMessage',
                            title: '@Messages.Status',
                            sortable: false,
                            width: 200
                        },
                        {
                            field: 'Actions',
                            title: '@Messages.Actions',
                            sortable: false,
                            width: 160,
                            overflow: 'visible',
                            autoHide: false,
                            template: function(data) {
                                var result = '';
                                if (data.maintenanceRequestStatus == 1) {
                                    result = result + '<a href="/Maintenance/CompleteMaintenance?ReceiptItemId=' + data.id + '" tname="#kt_datatable" class="Confirm btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Complete">' +
                                        '    <span class="svg-icon svg-icon-md">' +
                                        '       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                        '           <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                        '               <rect x="0" y="0" width="24" height="24" />' +
                                        '               <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                                        '               <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero" />' +
                                        '           </g>' +
                                        '       </svg>' +
                                        '    </span>' +
                                        '</a>';
                                    result = result + '<a href="/Maintenance/CustomerRefuseMaintenance?ReceiptItemId=' + data.id + '" class="PopUp btn btn-sm btn-clean btn-icon mr-2" title="@Messages.CustomerRefused">' +
                                        '    <span class="svg-icon svg-icon-md">' +
                                        '        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                        '            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                        '                <rect x="0" y="0" width="24" height="24" />' +
                                        '                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                                        '                <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z" fill="#000000" />' +
                                        '            </g>' +
                                        '        </svg>' +
                                        '    </span>' +
                                        '</a>';
                                    result = result + '<a href="/Maintenance/SuspenseMaintenance?ReceiptItemId=' + data.id + '" class="PopUp btn btn-sm btn-clean btn-icon mr-2" title="@Messages.Suspension">' +
                                        '    <span class="svg-icon svg-icon-md">' +
                                        '       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                        '           <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                        '               <rect x="0" y="0" width="24" height="24"/>' +
                                        '               <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>' +
                                        '               <path d="M12,16 C12.5522847,16 13,16.4477153 13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 C11,16.4477153 11.4477153,16 12,16 Z M10.591,14.868 L10.591,13.209 L11.851,13.209 C13.447,13.209 14.602,11.991 14.602,10.395 C14.602,8.799 13.447,7.581 11.851,7.581 C10.234,7.581 9.121,8.799 9.121,10.395 L7.336,10.395 C7.336,7.875 9.31,5.922 11.851,5.922 C14.392,5.922 16.387,7.875 16.387,10.395 C16.387,12.915 14.392,14.868 11.851,14.868 L10.591,14.868 Z" fill="#000000"/>' +
                                        '           </g>' +
                                        '       </svg>' +
                                        '    </span>' +
                                        '</a>';

                                    if (data.notifyCustomerOfTheCost) {
                                        result = result + '<a href="/Maintenance/EnterMaintenanceCost?ReceiptItemId=' + data.id + '" class="PopUp btn btn-sm btn-clean btn-icon mr-2" title="@Messages.MaintenanceCost">' +
                                            '    <span class="svg-icon svg-icon-md">' +
                                            '        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                                            '            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                                            '                <rect x="0" y="0" width="24" height="24" />' +
                                            '                <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z" fill="#000000" opacity="0.3" transform="translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) " />' +
                                            '                <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z" fill="#000000" />' +
                                            '            </g>' +
                                            '        </svg>' +
                                            '    </span>' +
                                            '</a>';
                                    }
                                }

                                return result;
                            },
                        }],
                });
            };
            return {
                // public functions
                init: function() {
                    demo();
                },
            };
        }();
        jQuery(document).ready(function() {
            KTDatatableAutoColumnHideDemo.init();
        });
    </script>
        }


