@model ChangePasswordForUserDto

@{
    ViewData["Title"] = @Messages.ChangePassword;
    var isSuccess = (bool?)ViewBag.IsSuccess;
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Messages.ChangePassword
                <span class="d-block text-muted pt-2 font-size-sm">@Messages.FillRequiredData</span>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-7">
            @if (isSuccess != null)
            {
                if (isSuccess.Value)
                {
                    <div class="alert alert-success" role="alert">
                        @Messages.PasswordUpdatedSuccessfully
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        @Messages.InvalidInput
                    </div>
                }
            }

            <form asp-action="ChangePasswordForUser" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@Messages.OldPassword</label>
                            <input asp-for="OldPassword" placeholder="@string.Format(Messages.Enter,Messages.OldPassword)" class="form-control form-control-solid" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@Messages.NewPassword</label>
                            <input asp-for="NewPassword" placeholder="@string.Format(Messages.Enter,Messages.NewPassword)" class="form-control form-control-solid" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary font-weight-bold mr-2">@Messages.Submit</button>
                    <a href="/" class="btn btn-light-primary font-weight-bold">@Messages.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
