@model CreateReturnItemForExistsReturnHandReceiptDto
@{
    ViewData["Title"] = Messages.HandReceiptItems;
    Layout = null;
}

<form asp-action="Create" method="post" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.ReturnHandReceiptId" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Messages.HandReceiptItem</label>
                <select asp-for="HandReceiptItemId" id="SelectHandReceiptItem" class="form-control form-control-solid">
                    <option value="">-- @string.Format(Messages.Select, Messages.HandReceiptItem) --</option>
                </select>
                <span asp-validation-for="HandReceiptItemId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>@Messages.Description</label>
                <textarea asp-for="Description" placeholder="@string.Format(Messages.Enter,Messages.Description)" class="form-control form-control-solid"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@Messages.ReturnReason</label>
                <textarea asp-for="ReturnReason" placeholder="@string.Format(Messages.Enter,Messages.ReturnReason)" class="form-control form-control-solid"></textarea>
                <span asp-validation-for="ReturnReason" class="text-danger"></span>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>@Messages.SpecifiedCost</label>
                <input asp-for="SpecifiedCost" placeholder="@string.Format(Messages.Enter,Messages.SpecifiedCost)" class="form-control form-control-solid"
                       min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span asp-validation-for="SpecifiedCost" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Messages.From</label>
                <input asp-for="CostFrom" placeholder="@string.Format(Messages.Enter,Messages.From)" class="form-control form-control-solid"
                       min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span asp-validation-for="CostFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Messages.To</label>
                <input asp-for="CostTo" placeholder="@string.Format(Messages.Enter,Messages.To)" class="form-control form-control-solid"
                       min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span asp-validation-for="CostTo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Messages.NotifyCustomerOfTheCost</label>
                <input asp-for="NotifyCustomerOfTheCost" placeholder="@string.Format(Messages.Enter,Messages.NotifyCustomerOfTheCost)" class="form-control form-control-solid" />
                <span asp-validation-for="NotifyCustomerOfTheCost" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>@Messages.Urgent</label>
                <input asp-for="Urgent" placeholder="@string.Format(Messages.Enter,Messages.Urgent)" class="form-control form-control-solid" />
                <span asp-validation-for="Urgent" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary font-weight-bold mr-2">@Messages.Submit</button>
        <button type="button" data-dismiss="modal" class="btn btn-light-primary font-weight-bold">@Messages.Cancel</button>
    </div>
</form>

<script>
    PageLoadActions();

    $.ajax({
        url: '/ReturnHandReceipt/GetHandReceiptItemsForReturn',
        dataType: "json",
        data: {
            HandReceiptId: '@ViewBag.HandReceiptId'
        },
        success: function (data) {
            $(data).each(function (index, value) {
                var warrantyDaysNumber = "";
                if (value.warrantyDaysNumber) {
                    warrantyDaysNumber = value.warrantyDaysNumber;
                } else {
                    warrantyDaysNumber = '@Messages.NoWarranty';
                }

                var optionHtml = value.item + " - " + value.itemBarcode
                    + " - " + value.company + " - @Messages.WarrantyDaysNumber: " + warrantyDaysNumber
                    + " - @Messages.DeliveryDate: " + value.deliveryDate;
                $("#SelectHandReceiptItem").append($("<option></option>").val(value.id).html(optionHtml));
            });
        }
    });

    $('#SpecifiedCost, #CostFrom, #CostTo, #NotifyCustomerOfTheCost').change(function () {
            var specifiedCostVal = $('#SpecifiedCost').val();
            var costFromVal = $('#CostFrom').val();
            var costToVal = $('#CostTo').val();
            var notifyCustomerValToVal = $('#NotifyCustomerOfTheCost').val();

            if (specifiedCostVal) {
                $("#CostFrom").prop('disabled', true);
                $("#CostTo").prop('disabled', true);
                $("#NotifyCustomerOfTheCost").prop('disabled', true);
            } else if (costFromVal) {
                $("#SpecifiedCost").prop('disabled', true);
                $("#NotifyCustomerOfTheCost").prop('disabled', true);
            } else if (costToVal) {
                $("#SpecifiedCost").prop('disabled', true);
                $("#NotifyCustomerOfTheCost").prop('disabled', true);
            } else if (notifyCustomerValToVal == 'true') {
                $("#SpecifiedCost").prop('disabled', true);
                $("#CostFrom").prop('disabled', true);
                $("#CostTo").prop('disabled', true);
            } else {
                $("#SpecifiedCost").prop('disabled', false);
                $("#CostFrom").prop('disabled', false);
                $("#CostTo").prop('disabled', false);
                $("#NotifyCustomerOfTheCost").prop('disabled', false);
            }
        });

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



