@model CreateReturnItemForExistsReturnHandReceiptDto
@{
    ViewData["Title"] = Messages.HandReceiptItems;
    Layout = null;
}

<form asp-action="Create" method="post" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.ReturnHandReceiptId" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Messages.HandReceiptItem</label>
                <select asp-for="HandReceiptItemId" id="SelectHandReceiptItem" class="form-control form-control-solid">
                    <option value="">-- @string.Format(Messages.Select, Messages.HandReceiptItem) --</option>
                </select>
                <span asp-validation-for="HandReceiptItemId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Messages.ReturnReason</label>
                <textarea asp-for="ReturnReason" placeholder="@string.Format(Messages.Enter,Messages.ReturnReason)" class="form-control form-control-solid" ></textarea>
                <span asp-validation-for="ReturnReason" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary font-weight-bold mr-2">@Messages.Submit</button>
        <button type="button" data-dismiss="modal" class="btn btn-light-primary font-weight-bold">@Messages.Cancel</button>
    </div>
</form>

<script>
    PageLoadActions();

    $.ajax({
        url: '/ReturnHandReceipt/GetHandReceiptItemsForReturn',
        dataType: "json",
        data: {
            HandReceiptId: '@ViewBag.HandReceiptId'
        },
        success: function(data) {
            $(data).each(function(index, value) {
                var optionHtml = value.item + " - " + value.itemBarcode
                    + " - " + value.company + " - @Messages.WarrantyDaysNumber: " + value.warrantyDaysNumber;
                $("#SelectHandReceiptItem").append($("<option></option>").val(value.id).html(optionHtml));
            });
        }
    });

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



